<%- include('../partials/header', {title: title}) %>

<body>
    <h1>
        What is Your Favorite Color?
    </h1>
</body>
<script lang="Javascript">
var sessionQuestions = <%- JSON.stringify(sessionQuestions) %>;  
</script>
</html>