<%- include('partials/header', {title: title}) %>

<body>
    <h1>
        Thanks
    </h1>
    <div>
        <p>Thank you for participating in the Q&A session.  Your responses have been recorded.</p>
    </div>
</body>

</html>