BASE_PATH=""
PGHOST="localhost"
PGUSER="postgres"
PGPASSWORD="password"
PGDATABASE="postgres"
PGPORT=5432
PGSSL=true
AWS_REGION="us-east-2"
AWS_DEFAULT_REGION="us-east-2"
AWS_ACCESS_KEY_ID=AK...O
AWS_SECRET_ACCESS_KEY=9...V
S3_BUCKET_NAME=whateverbucket