<%- include('../partials/header', {title: title}) %>

<script lang="javascript">
  let gRecordingInProgress = false;
  let mediaRecorder = undefined;
  

var gQaQuestions = <%- JSON.stringify(qaQuestions) %>;  

async function findQuestionByUuidAsync(uuid) {
  return gQaQuestions.find(question => question.uuid === uuid);
}

function getNextQuestionAsync() {
  return new Promise((resolve, reject) => {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        // document.getElementById("demo").innerHTML =
        // this.responseText;
        // alert(this.responseText)
        const jsonResponse = JSON.parse(this.responseText);
        const questionUuid = jsonResponse.myNextQuestionUuid
        resolve(questionUuid)
      }
    };
    xhttp.open("GET", "/api/v1/ri", true);
    xhttp.send();
  })
}

async function stopRecordingAndSubmit() {
  if (mediaRecorder != null) {
    console.log(`stopRecordingAndSubmit(): Stopping mediaRecorder...`);
    mediaRecorder.stop();
    console.log(`stopRecordingAndSubmit(): mediaRecorder stopped.`);
  } else {
    console.log(`stopRecordingAndSubmit(): No mediaRecorder to stop.`);
  }
}


// async function triggerNextQuesionAsync(doTriggerStopBool) {
//   if (doTriggerStopBool && mediaRecorder != null) {
//     mediaRecorder.stop();
//   }

//   // setTimeout(async () => {
//   //   // After a second or so the upload should have finished
//   //   // TODO: make this less hacky

//   //   // const questionUuid = await getNextQuestionAsync();
//   //   // const question = await findQuestionByUuidAsync(questionUuid);
//   //   // document.getElementById('question_phrase').innerText = question.phrase;
//   //   // console.log(`triggerNextQuesionAsync(): question.audioFile = ${question.audioFile}`);
//   //   // const audioFile = `<%= BASE_PATH %>audio/${question.audioFile}`
//   //   // // const audioFile = question.audioFile;
//   //   // console.log(`triggerNextQuesionAsync(): audioFile = ${audioFile}`);

//   //   // try {
//   //   //   new Audio(audioFile).play();
//   //   // } catch (err) {
//   //   //   console.error(`triggerNextQuesionAsync(): error playing audio: ${err}`);
//   //   // }

//   //   // document.getElementById('question_uuid').value = question.uuid;    
//   // }, 1500);
// }

function updateRecordingVisuals() {
  console.log(`updateRecordingVisuals()`);
  if (gRecordingInProgress === true) {
    document.getElementById('recording-true').style.display = 'block';
    document.getElementById('recording-false').style.display = 'none';
  } else {
    document.getElementById('recording-true').style.display = 'none';
    document.getElementById('recording-false').style.display = 'block';
  }
}

async function populateTheNextQuestion() /* Promise<boolean> */ {
  console.log(`populateTheNextQuestion(): Entering`);
  mediaRecorder.start()
  const questionUuid = await getNextQuestionAsync();
  const question = await findQuestionByUuidAsync(questionUuid);
  if (question != null) {
    document.getElementById('question_phrase').innerText = question.phrase;
    console.log(`populateTheNextQuestion(): question.audioFile = ${question.audioFile}`);
    const audioFile = `<%= BASE_PATH %>audio/${question.audioFile}`
    // const audioFile = question.audioFile;
    console.log(`populateTheNextQuestion(): audioFile = ${audioFile}`);

    try {
      console.log(`populateTheNextQuestion(): Will attempt to play audioFile = ${audioFile}...`);
      await new Audio(audioFile).play();
    } catch (err) {
      console.log(`populateTheNextQuestion(): warning.  Not playing audioFile = ${audioFile} due to err: ${err}`);
    }

    document.getElementById('question_uuid').value = question.uuid; 
    return true
  } else {
    document.getElementById('question_phrase').innerText = "";
    document.getElementById('question_uuid').value = "";
    window.location.assign("/thanks")
    return false
  }
}

// function requestAccessToMicrophone() {
//    console.log("requestAccessToMicrophone()");
  
  console.log(`Preparing to initialize MediaRecorder...`);

  navigator.mediaDevices.getUserMedia({ audio: true })
    .then(stream => {
      console.log(`Now instantiating MediaRecorder...`);

      mediaRecorder = new MediaRecorder(stream);
      const audioChunks = [];

      // When data is available, store it in the audioChunks array
      mediaRecorder.ondataavailable = event => {
          audioChunks.push(event.data);
      };

      mediaRecorder.onstart = () => {
          console.log('Recording started');
          gRecordingInProgress = true;
          updateRecordingVisuals();
      };

      console.log('Preparing to start MediaRecorder...');
      // Auto-Start recording
      // mediaRecorder.start();
      updateRecordingVisuals();

      // Stop recording after 5 seconds (or use a stop button)
      // setTimeout(() => {
      //     mediaRecorder.stop();
      // }, 2000);

      // When the recording stops, process and upload the data
      mediaRecorder.onstop = async () => {
        console.log('In the callback handler for mediaRecorder.onstop()...');

        gRecordingInProgress = false;
        updateRecordingVisuals();
        const audioBlob = new Blob(audioChunks, { type: 'audio/webm' });
        const formData = new FormData();
        formData.append('audio', audioBlob, 'recording.webm');
        formData.append('question_uuid', document.getElementById('question_uuid').value);

        try {
          console.log('POSTing audio to /answer/uploadMine...');
          // Upload the audio file
          const response = await fetch('/answer/uploadMine', {
            // headers: {
            //   'Accept': 'application/json',
            //   // 'Content-Type': 'multipart/form-data'
            // },
            method: 'POST',
            body: formData
          })
          const responseJson = await response.json();
          console.log(`Upload success.  responseJson = ${JSON.stringify(responseJson)}`);
          await populateTheNextQuestion(); 
        } catch(err) {
          console.error('Upload failed:', err);
        }
      };
    })
    .catch(error => {
        console.error('Microphone access denied:', error);
    })
//  }

window.addEventListener('load', async function () {
  // await triggerNextQuesionAsync(false);
  setTimeout( async () => {
    await populateTheNextQuestion();
  }, 700);
  // requestAccessToMicrophone();
})
</script>


<body>
  <div id="recording-true" style="display: none;">
    <div style="text-align: center;"><span style="color: red">&bull;</span> Recording...</div>
  </div>
  <div id="recording-false"  style="display: none;">
    <div style="text-align: center;"><span style="color: gray">Paused.</span></div>
  </div>
  <h1 id="question_phrase"></h1>
  <form id="oneandonlyform" action="/answer/uploadMine" method="post" enctype="multipart/form-data">      
    <input type="file" name="file" id="file" style="display: none"/>
    <input type="hidden" id="question_uuid" name="question_uuid" required>
  </form>
  <button class="btn btn-primary" onclick="stopRecordingAndSubmit()">Submit and Continue</button>
</body>


</html>